@model IEnumerable<Card>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
    <link rel="stylesheet" href="~/css/GameBoard.css" />
</head>
<body>
    <div id="controls">
        <button id="boardSize4x4">4x4</button>
        <button id="boardSize6x6">6x6</button>
        <button id="boardSize8x8">8x8</button>
    </div>
    <div id="game-board">
        @foreach (var card in Model)
        {
            <div class="card" data-card-id="@card.Id" style="background-color:@card.Color"></div>
        }
    </div>
    <script src="~/js/GameBoard.js"></script>
</body>
</html>